################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ContactManagementWebapi/.vs/ContactManagementWebapi/v15/Server/sqlite3
